<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i906.mpt.extension.countdownview">

    <uses-permission android:name="com.i906.mpt.permission.MPT_EXTENSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.i906.mpt.extension.ExtensionInfo"
            android:resource="@xml/extension_info" />

    </application>

</manifest>
